  <form action="{% url 'add_topic' %}" method="post" id="topicadd">
            {% csrf_token %}

        <div class="discussing__section__addtopic">
                <label for="addtopic" class="title-24 discussing__section__addtopic__label">
                        Ваша тема:
                </label>
                {{form.name}}
<!--                                                        <textarea name="addtopic" id="addtopic_textarea" cols="30" rows="3"></textarea>-->
                <button class="btn-addtopicsubmit" type="submit">
                        Додати
                </button>
        </div>
</form>