{% load static %}



 <div class="registaration">
                        <div class="registaration__block">
                                <div class="registaration__name">
                                        <h3 class="registaration__title">
                                                Реєстрація
                                        </h3>
                                        <a class="registaration__close">&#10006;</a>
                                </div>
                                <div class="registaration__bottom">
                                  <form method="post" action="{% url 'signup' %}">
                              {% csrf_token %}
                              {{ form.as_p }}
                              <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                            </form>

                                </div>
                        </div>
                        <div class="registaration__overlay">
                        </div>
                </div>