{% extends 'club/base.html' %}

{% load static %}

{% block content %}
 <div id="preloader"></div>
    <section class="technology">
        <div class="container">

           <article>
           <br>
           <h2>Сучасне інтенсивне землеробство призвело до серйозних екологічних проблем. Агроекосистеми енерговитратні, слабоадаптивні, в них активно відбувається виснаження родючості ґрунтів.</h2>
           <br>
           <p>Особливо критична ситуація склалася у зрошуваному овочівництві, оскільки ця галузь найбільш інтенсивна в рослинництві. Альтернативою є органічні методи землекористування. В органічному землеробстві ґрунт має бути покритим рослинністю або рослинними залишками максимально тривалий час.</p>
           <br>
           <h3>ЗАГАЛЬНІ ТЕНДЕНЦІЇ</h3>
           <br>
           <p>Відомо, що деякі технологічні прийоми і заходи можуть негативно вплинути на якість овочевої продукції, погіршити стан навколишнього середовища, зокрема знизити родючість ґрунту. Щоб цього уникнути, необхідно перейти від надмірної інтенсифікації до науково обґрунтованої біологізації, методів органічного землеробства (за європейською термінологією — «альтернативне землеробство», за американською — «поновлюване землеробство»).</p>
           <br>
           <p>Відомо, що деякі технологічні прийоми і заходи можуть негативно вплинути на якість овочевої продукції, погіршити стан навколишнього середовища, зокрема знизити родючість ґрунту. Щоб цього уникнути, необхідно перейти від надмірної інтенсифікації до науково обґрунтованої біологізації, методів органічного землеробства (за європейською термінологією — «альтернативне землеробство», за американською — «поновлюване землеробство»).</p>
           <br>
           <p>Тоді як закордоном ситуація зовсім інша. Наприклад, у США цей показник — всього 25%, в Угорщині — 37%, Франції, Німеччині та Канаді — 48%. Одним із шляхів зниження рівня розораності угідь є створення екозон в обсязі 10% з метою збереження природного біологічного різноманіття. Важливий елемент органічного вирощування овочевих рослин — використання спеціальних сівозмін. На зрошуваних землях сівозміни мають підбиратися від виду рослин, які сприяють збереженню родючості ґрунту і накопиченню поживних речовин, — проміжні сидеральні та ґрунтовкривні культури, насамперед багаторічні бобові трави.</p>
           <br>
           <h3 class="yellow">ОРГАНІЧНА СІВОЗМІНА В ОВОЧІВНИЦТВІ ВКЛЮЧАЄ:</h3>
           <br>
           <ul>
            <li>бобові й ґрунтовкривні культури (30–50% площі) — джерело біологічно закріпленого азоту; а також для захисту ґрунту від ерозійних процесів;</li><br>
            <li>проміжні (сидеральні) культури — відновлення родючості ґрунту, пригнічення розвитку шкідників, хвороб, бур’янів;</li><br>
            <li>чергування культур — запобігання ґрунтовтоми</li><br>
           </ul>
           <br>
           <p>Причиною необхідності чергування культур у сівозміні є взаємодія рослин через ґрунт, чутливість їх до власних кореневих виділень, які накопичуються у ґрунті як інгібітори, але це не єдина причина ґрунтовтоми.</p>
           <br>
           <p>Інша, не менш важлива — накопичення у ґрунті збудників хвороб і шкідників, специфічних для кожного виду овочевих рослин, що ростуть на одному місці, а також одностороннє виснаження ґрунту на одні й ті ж
            самі елементи живлення.</p>
            <br>
            <h3>СТАВКА НА ІНТЕРКРОПІНГ
            </h3>
            <br>
            <p>Резервом збагачення ґрунту органічною речовиною, вуглецем та елементами живлення є заробка рослинних залишків (особливо соломи) та сидеральних добрив. За вмістом органічної речовини 1 т соломи еквівалентна 3–4 т гною. Подрібнена солома має бути не довше 10 см (щоб прискорити її мінералізацію). Для запобігання дефіциту азоту в ґрунті ефективна обробка соломи та інших рослинних залишків до їх заробки деструкторами стерні біологічного походження. Інтеркропінг — основа біологізованих сівозмін в овочівництві. Агроекосистеми, на відміну від природних еко-систем, слабоадаптивні. Філософія альтернативного (органічного) землеробства в овочівництві будується на створенні умов для саморегулювання та самопідтримки агроекосистеми.</p>
            <br>
            <img src="{% static 'club/img/technology_grafic.png' %}" alt="top10richcompany">
            <br>
            <p>Один із перспективних напрямів — введення у практику так званого інтеркропінгу (полікультури), що означає систему вирощування двох і більше видів рослин на одній і тій самій площі, тобто в одному рослинному співтоваристві. Управління таким співтовариством здійснюється спеціальними технологічними прийомами. Для цього розроблений мікросмуговий спосіб вирощування просапних культур, який призначений для захисту ґрунту від несприятливих факторів і створення інтеркропінгу (змішаних посівів).</p>
            <br>
            <p>Спосіб включає формування на площі залужених і незалужених смуг, вирощування в незалужених смугах овочевих рослин. Сумісність овочевих і ґрунтовкривних (для залуження) рослин попередньо визначається за допомогою спеціальних алелопатичних тестів. Такий спосіб вирощування в поєднанні з мульчуванням гарантує збереження і розширене відтворення родючості ґрунту, захист посівів від бур’янів, виробництво органічної овочевої продукції. Як ґрунтовкривні рослини частіше використовують злаково-бобові суміші.</p>
            <br>
            <h3 class="yellow">ВИМОГИ ДО СОРТІВ В ОРГАНІЧНОМУ ОВОЧІВНИЦТВІ
            </h3>
            <br>
            <ul>
                <li>Максимальна адаптивність до місцевих ґрунтово-кліматичних умов</li><br>
                <li>Стійкість до біотичних і абіотичних факторів</li><br>
                <li>Високі смакові якості</li><br>
                <li>Наявність у плодових органах цінних біологічно активних речовин</li><br>
            </ul>
            <br>
            <h3>Наявність у плодових органах цінних біологічно активних речовин</h3>
            <br>
            <p>Посилення біологічної активності ґрунту відбувається за рахунок надходження додаткового енергетичного
            матеріалу з ґрунтовкривних рослин. При цьому зменшується амплітуда добових коливань температури ґрунту, посилюється виділення СО2 і розкладання клітковини, більше утворюється лабільного гумусу, збільшується кількість дощових черв’яків.</p>
            <br>
            <p>У разі запровадження на полі чорного пару терміном два роки поспіль популяція дощових черв’яків повністю гине через інтенсивний обробіток ґрунту та відсутність рослинного покриву. В залужених смугах накопичуються корисні комахи — ентомофаги, присутність яких серед овочевих рослин дозволяє контролювати чисельність шкідників.</p>
            <br>
            <p>Крім цього, деякі ґрунтовкривні рослини своїми виділеннями відлякують шкідників. Наприклад, чисельність кокцинелідів в умовах полікультури з томатом зростає, а заселеність жуками колорадськими — знижується. В органічному овочівництві використовують високоадаптивні сорти, які забезпечують стабільний, досить високий урожай навіть за несприятливих умов.</p>
            <p>До таких сортів передусім належать місцеві сорти (мають вузьку адаптивність), а також деякі «старі» сорти, які завдяки широкій адаптивності набули поширення на всій території України й досі користуються попитом. Прикладом таких сортів можуть бути: капуста білоголова пізньостигла Харківська зимова, яка за комплексом господарсько-цінних ознак не поступається новим сортам, редис Рубін, морква Нантська харківська, перець гіркий Український, цибуля ріпчаста Золотиста, гарбуз Мозоліївський 15, кавун Мелітопольський 60 тощо.</p>
            <br>
            <img src="{% static 'club/img/zelenina.jpg' %}" alt="zelenina">
            <br>
            <h3>ГІДРОСІВБА І КРАПЛИННЕ ЗРОШЕННЯ
            </h3>
            <br>
            <p>Відповідно до технологій органічного землеробства, на поверхні ґрунту необхідно сформувати шар мульчі товщиною 5–7 см з рослинних залишків, змішаних із ґрунтом. Цей поверхневий шар накопичує вологу, зменшує її випаровування, не утворює поверхневої кірки, захищає ґрунт від вивітрювання та вимивання
                поживних речовин. Саме у такому шарі у присутності кисню і вологи працюють активатори ґрунту — мікроби, гриби, черви тощо. Поверхневий пористий шар виконує ще одну дуже важливу функцію — знижує температуру нижніх шарів ґрунту. Через різницю температур там конденсується волога й випадає роса (це природне краплинне зрошення).</p>
            <br>
            <p>Отже, в органічному землеробстві (подібно до природних ценозів) ґрунт має бути вкритим рослинністю або рослинними залишками максимально тривалий час. Під час вирощування овочевих рослин за органічними технологіями перспективним є застосування способу гідросівби.</p>
            <br>
            <p>Такий спосіб гідросівби забезпечує наближення польової схожості насіння до рівня лабораторної, зменшення норми висіву насіння у півтора-два рази, використання підчас сівби рідких органічних добрив, біологічних засобів захисту рослин, мікроелементів тощо.</p>
            <br>
            <table class="tg">
                <thead>
                  <tr>
                    <th colspan="7">АГРОФІЗИЧНІ ВЛАСТИВОСТІ ГРУНТУ ЗА РІЗНИХ СПОСОБІВ ВИРЩУВАННЯ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Спосіб</td>
                    <td>Водопроникність<br>за першу годину,<br>мм</td>
                    <td>Об'ємна маса, г/м</td>
                    <td>Твердість<br>кг/см</td>
                    <td>Агрономічно<br>цінні агрегати,<br>%</td>
                    <td>Коефіцієнт<br>структурності</td>
                    <td>Коефіцієнт<br>водостійкості</td>
                  </tr>
                  <tr>
                    <td>Інтенсивний</td>
                    <td>190</td>
                    <td>1,27</td>
                    <td>23</td>
                    <td>60</td>
                    <td>1,5</td>
                    <td>0,29</td>
                  </tr>
                  <tr>
                    <td>Смуговий</td>
                    <td>326</td>
                    <td>1,18</td>
                    <td>19</td>
                    <td>72</td>
                    <td>2,8</td>
                    <td>0,39</td>
                  </tr>
                </tbody>
                </table>
                <p>Сходи з’являються через п’ять-сім діб після сівби (за звичайного способу — через 12–21 добу), раніше бур’янів, що забезпечує прирости врожаю.  Крім того, для виробництва органічної овочевої продукції найбільш придатний краплинний спосіб зрошення, який дає економію поливної води й добрив до 50% і забезпечує збереження родючості ґрунту.</p>
                <br>
                <p>Ми розробили елементи біологічної системи захисту овочевих рослин від шкідників і хвороб. Окремі елементи цієї системи можна використовувати у процесі вирощування овочевих рослин в органічному землеробстві, де перспективним напрямом є збільшення чисельності природних ентомофагів (яке досягається шляхом підсіву нектароносних рослин для створення квіткового конвеєра протягом усього вегетаційного періоду).</p>
                <br>
                <h3 class="yellow">ВИДИ ОБРОБІТКУ ҐРУНТУ В ОРГАНІЧНОМУ ЗЕМЛЕРОБСТВІ</h3>
                <br>
                <ul>
                    <li>Мульчувальний (5–7 см) з рослинних залишків, змішаних із ґрунтом, що забезпечує накопичення вологи та поживних речовин, відсутність ґрунтової кірки, посилення активності ґрунтової біоти тощо</li><br>
                    <li>Локальний — обробіток ґрунту смугами певної глибини і ширини, що забезпечує енергозбереження та збереження родючості ґрунту</li><br>
                    <li>Нульовий (основний) — біологічне розпушування та оструктурення ґрунту</li><br>
                    <li>Комбінований — поєднання технологічних операцій за один прохід агрегату</li><br>
                </ul>
                <br>
                <img src="{% static 'club/img/бурьяни.jpg' %}" alt="trees">
                <br>
                <h3 class="yellow">ЗАХОДИ ЗАХИСТУ ПОСІВІВ ВІД БУР’ЯНІВ</h3>
                <br>
                <ul>
                    <li>Введення до сівозміни проміжних і високоедифікаторних рослин (жито та пшениця озимі, трави
                        багаторічні та однорічні, гречка, капуста, гарбуз, кабачок тощо), які пригнічують бур’яни</li><br>
                    <li>Алелопатичне прополювання посівів</li><br>
                    <li>Касетно-розсадний спосіб вирощування овочевих і баштанних рослин</li><br>
                    <li>Гідросівба</li><br>
                    <li>Мульчування поверхні ґрунту різними матеріалами</li><br>
                </ul>
                <br>
                <img src="{% static 'club/img/Screenshot_2.png' %}" alt="agroukrainestatistic">
           </article>
        </div>
                <img src="{% static 'club/img/grass.png' %}" alt="" class="grass">
    </section>
<script>
             const loadingScreen = document.getElementById('preloader');

window.addEventListener('load', () => {
  loadingScreen.style.opacity = 0;
  setTimeout(()=>{loadingScreen.style.display = 'none'}, 500);

});

function MediaHeader(x) {
  if (x.matches) { // If media query matches
    document.querySelector('header').style.display = "none";
    document.querySelector('.technology').style.padding = "0";
  } else {
    document.querySelector('header').style.display = "block";
  }
}

var x = window.matchMedia("(max-width: 560px)")
MediaHeader(x) // Call listener function at run time
x.addListener(MediaHeader) // Attach listener function on state changes
</script>
{% endblock %}